h1 {
	color: red;
}

li {
	color: blue;
}

table, td {
	border: 1px solid black;
	border-collapse: collapse;
}

td {
	padding:15px;
}

th {
	border: 1px solid black;
	padding: 15px;
	font-weight: bold;
}

.comment-table {
	border: none;
}

.error {
	background-color: red;
}

.success {
	background-color: green;
}